/* Increase font size for main content, not menu */
.content,
.intro,
.box-simple,
.box-image-text .content,
#blog-listing-medium .post,
#blog-listing-big .post {
  font-size: 17px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .content,
  .intro,
  .post,
  .box-simple,
  .box-image-text .content,
  #blog-listing-medium .post,
  #blog-listing-big .post {
    font-size: 18px;
  }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  display: inline-block;
  border-bottom: solid 5px var(--primary-accent);
  line-height: 1.1;
  margin-bottom: 0;
  padding-bottom: 10px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 1.757em; /* 26px if base is 14px, 1px smaller than 27px (h2 default) */
}

/* Add extra margin below the heading underline */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: 24px; /* Increase space between underline and next text */
  margin-bottom: 24px; /* Increase space between underline and next text */
}
